#container{
	background-color: lightblue;
}
.box{
	display: inline-block;
	border: 3px solid black;
	background-color: purple;
	color: white;
	margin-left: 70px;
	padding: 40px;
	text-align: center;
}
	.box input{
		padding: 15px;
		background-color: lightgreen;
		margin-top: 10px;
		border: 2px solid red;
	}
#activity{
	background-color: pink;
	height: 300px;
	width: 1000px;
	margin-left: 70px;
	margin-top: 25px;
	border: 2px solid blue;
	overflow: scroll;

}
